<script type="text/template" id="top_tab_template"></>
    <%= title %><% if(type == 'tab'){ %><span class="x">&#215;</span><% } %>
</script>

<script type="text/template" id="new_article_template"></>
    <table width="100%" class="new_article">
        <thead>
            <tr>
                <th width="19%">&#x2776; Select Initiative</th>
                <th width="32%">&#x2777; Select Data Set</th>
                <th width="32%">&#x2778; Select Project/Contributor</th>
                <th width="17%" style="text-align:center;">&#x2779; Analyze&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">
                    <div id="initiative">
                        <ul>
                            <li><a href="#tabs-initiative">Initiative</a></li>
                        </ul>
                        <div id="tabs-initiative">
                            <div class="select">
                                <div class="option"><span>Wikipedia</span></div>
                                <div class="option disabled"><span>Open Source</span></div>
                            </div>
                            <img src="img/green_arrow.png" class="green_arrow" />
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <div id="set" style="display:none;">
                        <ul>
                            <li><a href="#tabs-project">Project</a></li>
                            <li><a href="#tabs-contributor">Contributor</a></li>
                        </ul>
                        <div id="tabs-project">
                            <div class="header"><span class="label"><b>Data Set</b></span><span class="count"><b>#Projects</b></span></div>
                            <div class="select">
                            </div>
                            <img src="img/green_arrow.png" class="green_arrow" />
                        </div>
                        <div id="tabs-contributor">
                            <div class="header"><span class="label"><b>Data Set</b></span><span class="count"><b>#Users</b></span></div>
                            <div class="select">
                            </div>
                            <img src="img/green_arrow.png" class="green_arrow" />
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <div id="project" style="display:none;">
                        <ul>
                            <li><a href="#tabs-item">Item</a></li>
                        </ul>
                        <div id="tabs-item">
                            <div class="header"><span class="label"><b>Name</b></span><span class="count"><b>#Edits</b></span></div>
                            <div class="select">
                            </div>
                            <img src="img/green_arrow.png" class="green_arrow" />
                        </div>
                        <span id="filter_container">
                            <input id="filter" type="text" class="ui-corner-all" placeholder="Search..." autofocus />
                            <span id="clearFilter">&#215;</span>
                        </span>
                        <div class="footer">
                            <button class="small selected class_filter" name="users">Users Only</button>&nbsp;
                            <button class="small class_filter" name="bots">Bots Only</button>&nbsp;
                            <button class="small class_filter" name="all">All Users</button>
                        </div>
                    </div>
                </td>
                <td valign="middle" align="center">
                    <div id="analyze" style="display:none;">
                        <button>Analyze&nbsp;&nbsp;&#x25b6;</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/template" id="dataset_option_template"></>
    <span class="label" name="<%= id %>"><%= name %> <% if(url != ""){ %><a href="<%= url %>" target="_blank"><img src="img/source.png" /></a><% } %></span><span class="count"><%= Helper.numberFormat(count) %></span>
</script>

<script type="text/template" id="article_option_template"></>
    <span class="label"><%= title %></span><span class="count"><%= Helper.numberFormat(rev_count) %></span>
</script>

<script type="text/template" id="user_option_template"></>
    <span class="label"><%= id %></span><% if(edits > 0){ %><span class="count"><%= Helper.numberFormat(edits) %></span><% } %>
</script>

<script type="text/template" id="article_container_template"></>
    <div id="maincontainer">
        <div id="left">
            <%= subview("article_info") %>
            <%= subview("toolbar") %>
        </div>
        <div id="right">
            <div id="viewtabs">
                <ul>
                    <li><a href="#artview">Production</a></li>
                    <li><a href="#talkview">Coordination</a></li>
                    <li><a href="#hybridview">Production&amp;Coordination</a></li>
                    <li><a href="#ownershipview">Artifact</a></li>
                    <div id="page_title" style="float: right;"><%= title %></div>
                </ul>
                <div id="artview">
                    <div id="view" class="view">
                        <div id="view_loading">Loading . . .</div>
                        <div class="spacing_wrapper ui-corner-all">
                            <div id="toAdj" class="t_button"></div>
                            <div id="toTime" class="t_button"></div>
                        </div>
                    </div>
                </div>
                <div id="talkview"></div>
                <div id="hybridview"></div>
                <div id="ownershipview">
                    <div id="ownershipvis" class="view"></div>
                </div>
                </div>
            </div>
        </div>
        <div id="navctl"></div>
    </div>
</script>

<script type="text/template" id="user_container_template"></>
    <div id="maincontainer">
        <div id="left">
            <%= subview("user_info") %>
            <%= subview("toolbar") %>
        </div>
        <div id="right">
            <div id="viewtabs">
                <ul>
                    <li><a href="#artview">Production</a></li>
                    <li><a href="#talkview">Discussion</a></li>
                    <li><a href="#hybridview">Hybrid</a></li>
                    <div id="page_title" style="float: right;"><%= name %></div>
                </ul>
                <div id="artview">
                    <div id="view" class="view ui-corner-all">
                        <div id="view_loading">Loading . . .</div>
                        <div class="spacing_wrapper ui-corner-all">
                            <div id="toAdj" class="t_button"></div>
                            <div id="toTime" class="t_button"></div>
                        </div>
                    </div>
                </div>
                <div id="talkview" class="view ui-corner-all"></div>
                <div id="hybridview" class="view ui-corner-all"></div>
                </div>
            </div>
        </div>
        <div id="navctl"></div>
    </div>
</script>

<script type="text/template" id="toolbar_template"></>
    <div id="toolbar_wrapper" class="ui-corner-all">
        <div id="toolbar" class="ui-corner-all">
            <div id="toolbar_top" class="ui-corner-top"></div>
            <% if(_.contains(buttons, 'cursor')){ %>
                <button id="t_cursor">Cursor Type</button>
            <% }
               if(_.contains(buttons, 'options')){ %>
                <button id="t_options">Options</button>
            <% } 
               if(_.contains(buttons, 'options') || _.contains(buttons, 'cursor')){ %>
                <hr>
            <% }
               if(_.contains(buttons, 'articles')){ %>
                <div id="t_articles" class="t_button">Articles</div>
            <% }
               if(_.contains(buttons, 'select')){ %>
                <div id="t_select" class="t_button">Contributors</div>
            <% }
               if(_.contains(buttons, 'legend')){ %>
                <div id="t_legend" class="t_button">Article Revision Categories</div>
            <% }
               if(_.contains(buttons, 'talk')){ %>
                <div id="t_talk" class="t_button">Talk Page Revision Categories</div>
            <% } 
                if(_.contains(buttons, 'sections')){ %>
                <div id="t_sections" class="t_button">Page Section</div>
            <% } %>
            <hr>
            <% if(_.contains(buttons, 'deselect')){ %>
                <div id="t_deselect" class="t_button">Reset Selections</div>
            <% } %>
            <hr>
            <% if(_.contains(buttons, 'data')){ %>
                <div id="t_data" class="t_button">Revision Details</div>
            <% } %>
        </div>
    </div>
    <div id="dialogs">
        <% if(_.contains(buttons, 'cursor')){ %>
            <%= subview("diag_cursor") %>
        <% }
           if(_.contains(buttons, 'options')){ %>
            <%= subview("diag_options") %>
        <% }
           if(_.contains(buttons, 'select')){ %>
            <%= subview("diag_select") %>
        <% }
           if(_.contains(buttons, 'articles')){ %>
            <%= subview("diag_articles") %>
        <% }
            if(_.contains(buttons, 'sections')){ %>
            <%= subview("diag_sections") %>
        <% }
           if(_.contains(buttons, 'info')){ %>
            <%= subview("diag_info") %>
        <% }
           if(_.contains(buttons, 'data')){ %>
            <%= subview("diag_data") %>
        <% }
           if(_.contains(buttons, 'legend')){ %>
            <%= subview("diag_legend") %>
        <% }
           if(_.contains(buttons, 'talk')){ %>
            <%= subview("diag_talk") %>
        <% } %>
    </div>
</script>

<script type="text/template" id="article_info_template"></>
    <h3 class="article_title"><%= title.replace(/_/g, ' ') %></h3>
    <h4 class="article_subTitle">Wikipedia Project</h4>
    <div style="text-align:center;width:100%;"><a class="info_link" target="_blank" href="http://en.wikipedia.org/wiki/<%= title %>"><img src="lib/screen/shot.php?url=http://en.wikipedia.org/wiki/<%= title %>&w=1024&h=552&clipw=1024&cliph=552" alt="<%= title %>" /></a></div>
    <b>Key Statistics</b>
    <div>
        <%= _.size(data.get('revisions')) %> edits by <%= _.size(data.get('users')) %> contributors<br />
        <% if(_.size(data.get('revisions')) > 0){ %>Article Created: <%= Helper.formatDate(new Date(_.first(data.get('revisions')).timestamp), false) %><% } %>
    </div>
</script>

<script type="text/template" id="user_info_template"></>
    <h3 class="article_title"><%= id %></h3>
    <h4 class="article_subTitle">Wikipedia Contributor</h4>
    <div style="text-align:center;width:100%;"><a class="info_link" target="_blank" href="http://en.wikipedia.org/wiki/User:<%= id %>"><img src="img/face.png" alt="<%= id %>" /></a></div>
    <b>Key Statistics</b>
    <div>
        <%= _.size(data.get('revisions')) %> edits in <%= _.size(_.uniq(_.pluck(data.get('revisions'), 'page_title'))) %> projects.<br />
        Contributor Created: <%= Helper.formatDate(new Date(created), false) %>
    </div>
</script>

<script type="text/template" id="diag_cursor_template"></>
    <div id="<%= _.uniqueId('diag_cursor') %>" title="Cursor Type">
        <h3>Choose a Cursor Type Below</h3>
        <table>
            <tr><td><input type="radio" name="cursor" id="cursor0" checked/></td><td><label for="cursor0">Panning Cursor</label></td></tr>
            <tr><td><input type="radio" name="cursor" id="cursor1" /></td><td><label for="cursor1">Select Element Cursor</label></td></tr>
            <tr><td><input type="radio" name="cursor" id="cursor2" /></td><td><label for="cursor2">Select User Cursor</label></td></tr>
        </table>
    </div>
</script>

<script type="text/template" id="diag_options_template"></>
    <div id="<%= _.uniqueId('diag_options') %>" title="Options">
        
    </div>
</script>

<script type="text/template" id="diag_select_template"></>
    <div id="<%= _.uniqueId('diag_select') %>" title="Contributors">
        <div id="d_select_tabs">
            <ul>
                <li><a href="#users_select">Users</a></li>
                <li><a href="#groups_select">Groups</a></li>
            </ul>
            <div id="users_select">
                <div id="select_users">
                    <select size="7" name="userselect" id="userselect" multiple="yes">
                        
                    </select>
                    <div style="max-height:142px;overflow-y: auto; border: 1px solid #c4c1bd;" id="userselect2">
                        
                    </div>
                </div>
                <div class="select_apply_div">
                    <a id="select_apply">Apply Selection</a>
                </div>
            </div>
            <div id="groups_select">
                <div id="d_select_groups_accordion">
                    <h3><a href="#" class="leganchor"><input type="checkbox" name="groupselect" value="Unregistered User" checked="checked" /><span class="leglabel">Unregistered Users</span></a></h3>
                    <div><p>Users who are not logged in. These users are associated with an IP address and usually not have a wikipedia account.</p></div>
                    <h3><a href="#" class="leganchor"><input type="checkbox" name="groupselect" value="Registered User" checked="checked" /><span class="leglabel">Registered Users</span></a></h3>
                    <div><p>Users who are logged in with a Wikipedia account without significant additional privileges. These users may edit some articles that anonymous users cannot.</p></div>
                    <h3><a href="#" class="leganchor"><input type="checkbox" name="groupselect" value="Super User" checked="checked" /><span class="leglabel">Super Users</span></a></h3>
                    <div><p>Registered users with a selection of enhanced privileges and access rights. These privileges are given to editors that are trusted by the community.</p></div>
                    <h3><a href="#" class="leganchor"><input type="checkbox" name="groupselect" value="Executive" checked="checked" /><span class="leglabel">Executives</span></a></h3>
                    <div><p>Registered users with many advanced and/or restricted privileges, such as the ability to delete articles, sanction users, or change user privileges. These users are highly trusted by the community.</p></div>
                    <h3><a href="#" class="leganchor"><input type="checkbox" name="groupselect" value="Bot" checked="checked" /><span class="leglabel">Bots</span></a></h3>
                    <div><p>Autonomous or semi-autonomous computer programs that are approved by the community to operate on Wikipedia. Bots exist to remove spam, fix typos or spelling mistakes, and to perform routine maintenance tasks on Wikipedia.</p></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="diag_sections_template"></>
    <div id="<%= _.uniqueId('diag_sections') %>" title="Page Sections">
        <div id="section_filter" style="max-height: 202px;overflow-y:auto;border: 1px solid #c4c1bd;">
            
        </div>
    </div>
</script>

<script type="text/template" id="diag_articles_template"></>
    <div id="<%= _.uniqueId('diag_articles') %>" title="Contributors">
        <div id="d_select_tabs">
            <ul>
                <li><a href="#users_select">Articles</a></li>
            </ul>
            <div id="users_select">
                <div id="select_checkboxes">
                    <h3>Quick Select:</h3>
                    <table>
                        <tr><td><input type="checkbox" name="userclassselect" value="Anon" /></td><td>Anonymous Users</td></tr>
                        <tr><td><input type="checkbox" name="userclassselect" value="User" /></td><td>Registered Users</td></tr>
                        <tr><td><input type="checkbox" name="userclassselect" value="Power User" /></td><td>Power Users</td></tr>
                        <tr><td><input type="checkbox" name="userclassselect" value="Admin" /></td><td>Administrators</td></tr>
                        <tr><td><input type="checkbox" name="userclassselect" value="Bot" /></td><td>Bots</td></tr>
                    </table>
                </div>
                <div id="select_users">
                    <select size="7" name="userselect" id="userselect" multiple="yes">
                        
                    </select>
                </div>
                <div class="select_apply_div">
                    <a id="select_apply">Apply Selection</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="diag_info_template"></>
    <div id="<%= _.uniqueId('diag_info') %>" title="Selection Information">
        <h3>Information on Current Selection:</h3>
        <em id="d_info_noselection">Nothing is selected. Make a selection using the cursor or through the "Select Users" dialog.</em>
        <div id="d_info_selection">
            
        </div>
    </div>
</script>

<script type="text/template" id="diag_data_template"></>
    <div id="<%= _.uniqueId('diag_data') %>" title="Article Revision Details">
        
    </div>
</script>

<script type="text/template" id="diag_talk_template"></>
    <div id="<%= _.uniqueId('diag_talk') %>" title="Talk Page Revision Categories">
        <div id="d_talk_accordion" class="d_checkable">
            <h3>
                <a href="#" class="leganchor">
                    <input type="checkbox" name="talkselect" value="crit" checked="checked" />
                    <img src="img/icon_crit.png" />
                    <span class="leglabel">Criticism</span>
                </a>
            </h3>
            <div>
                <p>Comments that serve to identify flaws or deficiencies in the article. Criticism includes the identification of incomplete or missing details, lack of accuracy or correctness, structural and linguistic deficiencies and objectivity issues.</p>
            </div>
            <h3>
                <a href="#" class="leganchor">
                    <input type="checkbox" name="talkselect" value="perf" checked="checked" />
                    <img src="img/icon_perf.png" />
                    <span class="leglabel">Performative</span>
                </a>
            </h3>
            <div>
                <p>Comments relating to actions taken by the editor himself (announcements or reports of edits he has made) or those intended for other users (suggestions or recommendations for change.)</p>
            </div>
            <h3>
                <a href="#" class="leganchor">
                    <input type="checkbox" name="talkselect" value="inf" checked="checked" />
                    <img src="img/icon_info.png" />
                    <span class="leglabel">Informative</span>
                </a>
            </h3>
            <div>
                <p>Comments that provide, request, or correct information or facts relating to the contents of the article or the discussion page.</p>
            </div>
            <h3>
                <a href="#" class="leganchor">
                    <input type="checkbox" name="talkselect" value="att" checked="checked" />
                    <img src="img/icon_att.png" />
                    <span class="leglabel">Attitude</span>
                </a>
            </h3>
            <div>
                <p>Interpresonal communication that demonstrates a given attitude towards other editors or their comments. This category includes comments that display positive or negative attitudes towards others, and those that demonstrate acceptance or rejection.</p>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="diag_legend_template"></>
    <div id="<%= _.uniqueId('diag_legend') %>" title="Article Revision Categories">
        <div id="d_legend_accordion" class="d_checkable">
            <h3>
                <a href="#" class="leganchor">
                    <input type="checkbox" name="editcatselect" value="addrem" checked="checked" />
                        <div class="l_addremove l_colour"></div>
                    <span class="leglabel">Content [Addition or Deletion]</span>
                </a>
            </h3>
            <div>
                <p>The textual description of the encyclopedic entry.</p>
                <table style="">
                    <tbody><tr><td class="legLabelTCell"><div class="l_add l_colour"></div></td><td style="text-align: left;">Content Addition</td><td>Addition of substantive new content to the Article</td></tr>
                    <tr><td class="legLabelBCell"><div class="l_rem l_colour"></div></td><td style="text-align: left;">Content Deletion</td><td>Removal of substantive content from the article.</td></tr>
                </tbody></table>
            </div>
            <% _.each(_.without(_.uniq(classifications.pluck('codna')), "Add New Content", "Delete Content", "Insert Vandalism", "Remove Vandalism"), function(c){ %>
                <h3>
                    <a href="#" class="leganchor">
                        <input type="checkbox" name="editcatselect" value="<%= c %>" checked="checked" />
                        <% _.each(_.uniq((new Backbone.Collection(classifications.where({codna: c}))).pluck('style')), function(color){ %>
                            <div class="l_colour" style="background: <%= color %>;"></div>
                        <% }); %>
                        <span class="leglabel"><%= c %></span>
                    </a>
                </h3>
                <div>
                    <p>
                        <ul>
                            <% (new Backbone.Collection(classifications.where({codna: c}))).each(function(m){ %>
                                <li><%= m.get('manual') %></li>
                            <% }); %>
                        </ul>
                    </p>
                </div>
            <% }); %>
            <h3>
                <a href="#" class="leganchor">
                    <input type="checkbox" name="editcatselect" value="vandunvand" checked="checked" />
                        <div class="l_vandunvand l_colour"></div>
                    <span class="leglabel">Vandalism [Addition or Deletion]</span>
                </a>
            </h3>
            <div>
                <p>
                    Edits that are irrelevant or inappropriate for a particular article, including the deliberate damaging of others’ edits.
                </p>
                <table style="margin: 0 auto; clear: both; float: center; width: 100%;">
                    <tbody><tr><td class="legLabelTCell"><div class="l_vand l_colour"></div></td><td style="text-align: left;">Vandalism Addition</td><td>Insertion of inappropriate content.</td></tr>
                    <tr><td class="legLabelBCell"><div class="l_unvand l_colour"></div></td><td style="text-align: left;">Vandalism Deletion</td><td>Quality assurance efforts to remove vandalism.</td></tr>
                </tbody></table>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="big_throbber_template"></>
    <div style="width:100%; text-align:center;">
        <img style="margin-right:3px;margin-top:25px;" src="img/big_throbber.gif" alt="Loading" />
    </div>
</script>
<script type="text/template" id="tooltip_template"></>
    <div style="display:none;" class="tooltip" id="<%= uid %>">
        <div class="title"><%= title %></div>
        <div class="body"><%= text %></div>
    </div>
</script>
