html {
    height: 100%;
}

body {
    position: fixed;
    top:8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
	background-color: #aaa;
	font-family: sans-serif;
	font-size: 12px;
}

#floater {
	height: 50%;
	margin-bottom: -120px;
	float: left;
}

header {
	display: block;
	background-color: #fff;
}

header h1 {
	text-align: center;
	padding: 10px 0;
	margin: 0 0;
}

#page_title {
	float:right;
	font-size: 12px;
	margin-right: 5px;
	line-height: 26px;
}

#maincontainer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
	top: 0;
}

#left {
	position: relative;
	float: left;
	height: 100%;
	width: 280px;
}

#right {
	position: absolute;
	left: 280px;
	right: 0;
	height: 100%;
}

#content {
	float: center;
	margin: 0 15px 15px 15px;
	box-shadow: 1px 2px 5px #222;
	background-color: #fff;
	position: absolute;
	top: 27px;
	bottom: 0;
	right: 0;
	left: 0;
}

#content > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#everything {
    height: 100%;
}

#article_info {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 210px;
}

.article_title {
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 0;
}

.article_subTitle {
    margin-top: 0;
}

.info_link > img {
    width: 200px;
    height: 108px;
    border: 1px solid #AAAAAA;
}

.info_link > img:hover {
    border: 1px solid #80CC28;
}

#toolbar_wrapper {
	width: 52px;
	text-align: center;
	background-color: #777;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 5px;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

#toolbar {
    position: absolute;
    margin: 10px 6px;
	background-color: #eee;
	font-size: 65%;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#toolbar hr {
	border: 1px #777777 solid;
	width: 100%;
	position: relative;
	clear: both;
}

#toolbar_top {
	width: 100%;
	background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	height: 10px;
}

#toolbar .t_button {
	margin: 5px auto;
	width: 30px;
	height: 30px;
}

.t_button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#zoom {
	font-size: 80%;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

#zoom label {
	margin-right: 0px;
}

#viewtabs {
    width: 100%;
	font-size: 65%;
	/*border: 1px #aaa solid;*/
	border: 0;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 5px;
}

#viewtabs > ul {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border-width: 1px 0 1px 0;
    
}

#artview {
	padding-bottom: 0px;
}

#talkview {
	padding-bottom: 0px;
}

#hybridview {
	padding-bottom: 0px;
}

.ui-tabs .ui-tabs-panel {
	padding: 5px 5px;
}

.ui-tabs .ui-tabs-nav li {
    font-size: 12px;
}

table.new_article .ui-tabs-selected {
    background: #E0F3CB !important;
}

.view {
	float: left;
	/*border: 1px #aaa solid;*/
	padding: 0;
	position: absolute;
	top:38px;
	bottom: 0;
	right: 5px;
	left: 5px;
}

.z_ctl {
	width: 10px;
	height: 10px;
	padding: 0;
	margin: 10px 0;
}

.z_off {
	background-image: url('../img/z_off.bmp');
}

.z_on {
	background-image: url('../img/z_on.bmp');
}

.z_radio {
	background-color: blue;
}

.ui-dialog {
	font-size: 12px;
}

.ui-dialog h3 {
	margin: 0px 0px 5px 0px;
}

.ui-dialog table {
	width: 100%;
}

#navctl {
	font-size: 80%;
	position: absolute;
	bottom: 27px;
	right: 0;
	left: 228px;
	height: 28px;
	border-width: 1px 0 0 1px;
	border-color: #AAAAAA;
	border-style: solid;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
}

#pagination {
    position: absolute;
    bottom: 0;
    left: 228px;
    right: 0;
    height: 27px;
    border-width: 0 0 0 1px;
	border-color: #AAAAAA;
	border-style: solid;
	text-align: center;
}

#t_select {
	background-image: url("../img/icon_users.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#t_articles {
	background-image: url("../img/icon_articles.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#t_sections {
	background-image: url("../img/icon_sections.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#t_legend {
	background-image: url("../img/icon_categories.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#t_deselect {
	background-image: url("../img/icon_deselect.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#t_talk {
	background-image: url("../img/icon_talk.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#t_data {
	background-image: url("../img/icon_table.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.ui-state-default .ui-icon {
	background-image: none;
}

#hzoom_slider_wrapper {
	font-size: 80%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px 10px;
	width: 150px;
	background-color: #BBB;
	opacity: 0.8;
}

#hzoom_slider .ui-slider-handle {
	width: 10px;
}

.spacing_wrapper {
	position: absolute;
	top: 0px;
	right: 15px;
	padding: 10px 10px;
	width: 60px;
	height: 10px;
	opacity: 0.8;
	background-color: #BBB;
}

#toAdj {
	position: absolute;
	left: 5px;
	top: 3px;
	background-image: url("../img/icon_adj.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#toTime {
	position: absolute;
	right: 5px;
	top: 3px;
	background-image: url("../img/icon_time.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#zoomOut {
    position: absolute;
	left: 5px;
	top: 3px;
	background-image: url("../img/zoomOut.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#zoomIn {
    position: absolute;
	right: 5px;
	top: 3px;
	background-image: url("../img/zoomIn.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#select_users {
	float: right;
	width: 100%;
}

#select_checkboxes {
	float: left;
	margin-right: 50px;
}

#userselect, #userselect2 {
	width: 100%;
}

.select_apply_div {
	clear: both;
	float: right;
	padding: 10px 0px;
}

#d_info_selection table {
	border: 1px solid #aaa;
	width: 100%;
}

#diag_data {
	padding: 10px 0 0 0;
}

#diag_data table {
	border: 1px solid #aaa;
	border-collapse: collapse;
}

#diag_data td {
	border: 1px solid #aaa;
	display: table-cell;
	margin: 0;
}

#diag_data th {
	border: 1px solid #aaa;
}

#users_select {
	overflow: auto;
}

#groups_select {
	overflow: auto;
}

#select_checkboxes {
	display: none;
	visibility: hidden;
}

.invisible {
	display: none;
	visibility: hidden;
}

#diag_article input {
	width: 200px;
	float: left;
}

#diag_article button {
	clear: both;
	float: right;
	height: 20px;
	margin-bottom: 0px;
}

.invisible {
	display: none;
	visibility: hidden;
}

th {
	background-color: #ccc;
}

.rowselect {
	background-color: #B3D4FC;
}

.leganchor {
	height: 20px;
}

.leganchor img {
	margin-top: -3px;
}

.l_colour {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	float: left;
}

.leglabel {
	float: right;
	font-size: 15px;
}

.ui-dialog h3 {
	margin: 0;
}

.legtable {
	margin: 0 auto; clear: both; float: center; width: 100%;
}

.legLabelTCell {
	border-bottom: 2px #000 solid; width: 30px; padding-left: 7px; padding-bottom: 0px; display: block; height: 21px;
}

.legLabelBCell {
	border-top: 2px #000 solid; width: 30px; padding-left: 7px; padding-top: 0px; height: 21px; display: block;
}

.legLabelBCell .l_colour {
	margin-top: -1px;
}

.leganchor {
	height: 20px;
}

.leganchor input {
	float: left;
	margin-right: 20px;
}

.l_addremove {
	/*background-color: #105CB6;*/
	background-image: url('../img/addrem.bmp');
}

.l_add {
	background-color: #3333FF;
}

.l_rem {
	background-color: #6699FF;
}

.l_cite {
	background-color: #CF99FF;
}

.l_copyedit {
	background-color: #6BE5F5;
}

.l_unsure {
	background-color: #D09F6E;
}

.l_vandunvand {
	/*background-color: #EE2222;*/
	background-image: url('../img/vand.bmp')
}

.l_vand {
	background-color: #FF3B3B;
}

.l_unvand {
	background-color: #FEA890;
}

.l_reorganize {
	background-color: #FF75DB;
}

.talkrow {
	background-color: #DAE7E7;
}

svg {
	overflow: hidden;
}

table.sortable {
    border-collapse: collapse;
}

table.sortable td, table.sortable th {
    border: 1px solid #AAAAAA;
}

/* === SVG Styling === */
.rule line {
	stroke: #aaa;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.xaxis line {
	stroke: #000;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

rect.ymask {
	fill: #fff;
}

.ylabel text {
	text-anchor: middle;
	font-size: 12px;
	font-family: sans-serif;
	text-antialiasing: true;
}

.ylabel text.yl {
	text-anchor: end;
	font-size: 10px;
}

.add {
	fill: #3333FF;
}
.remove {
	fill: #6699FF;
}
.edit {
	fill: #6BE5F5;
}
.cite {
	fill: #CF99FF;
}
.vand {
	fill: #FF3B3B;
}
.unvand {
	fill: #FEA890;
}
.reorganize {
	fill: #FF75DB;
}
.unsure {
	fill: #D09F6E;
}
.unclassified {
	fill: #D09F6E;
	opacity: 0.5;
}

.datum rect {
	stroke: #222;
}

.callout {
	stroke: #222;
	fill: #ECF6F8;
}

.tcircle {
	stroke: #222;
	fill: #89AB87;
}

.tcircle_full {
	stroke: #7FFF78;
	fill: #89AB87;
	stroke-width: 3px;
}

.xlabel {
	font-size: 8px;
	font-family: sans-serif;
	text-antialising: true;
	text-anchor: right;
}

.month {
	stroke: none;
	font-size: 10px;
	font-family: sans-serif;
	text-antialising: true;
}

.bar {
    stroke: none;
    font-size: 10px;
    font-family: sans-serif;
    text-antialiasing: true;
}

.m_odd {
	fill: #777;
	opacity: 0.2;
}

.m_even {
	fill: #eee;
	opacity: 0.2;
}

.pad {
	fill: #777;
}

.bg line.navctlborder{
	stroke: #777;
}

.lhandle {
	fill: #CC2222;
	opacity: 0.8;
	cursor: col-resize;
}

.rhandle {
	fill: #CC2222;
	opacity: 0.8;
	cursor: col-resize;
}

.chandle {
	fill: #2266FF;
	opacity: 0.2;
	cursor: move;
}

.bg line {
	stroke: #222;
	stroke-width: 2px;
}

line.google {
    stroke: #3F85F2;
    stroke-width: 2px;
}

rect.sd, rect.osd {
	/*stroke: #777;
	stroke-width: 1px;*/
	fill: #777;
}

/* Top Tabs View */

div#topTabs {
    margin: 0 15px;
    height: 27px;
    position:relative;
    z-index: 1;
    overflow: hidden;
}

div#topTabs .tab {
    position: absolute;
    padding: 5px 10px;
    background: #EEEEEE;
    display: inline-block;
    font-size: 13px;
    height: 16px;
    max-width: 150px;
    padding-right: 25px;
    width:100%;
    border-bottom: 1px solid #AAAAAA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    box-shadow: 1px 2px 3px #222;
    
    -webkit-transition: background 0.16s, border 0.16s ease-in-out;
    -moz-transition: background 0.16s, border 0.16s ease-in-out;
    -ms-transition: background 0.16s, border 0.16s ease-in-out;
    -o-transition: background 0.16s, border 0.16s ease-in-out;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#topTabs .tab.selected, div#topTabs .tab.selected:hover {
    border-bottom: 1px solid #FFFFFF;
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,255) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,255) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,255) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,255) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFFFF 100%);
}

div#topTabs .tab:hover {
    cursor: pointer;
}

div#topTabs .tab_new {
    max-width: none;
    width: auto;
    padding: 5px 10px;
}

div#topTabs .tab .x {
    font-size: 18px;
    line-height: 17px;
    vertical-align: top;
    margin-left: 10px;
    font-weight: bold;
    position: absolute;
    right: 10px;
}

div#topTabs .tab .x:hover {
    color: #AA0000;
}

/* New Article View */
table.new_article .ui-tabs {
    border: none !important;
}

table.new_article #project, table.new_article #set {
    height: 260px;
}

#initiative > div, #set > div, #project > div {
    position: relative;
}

#project input {
    border: 1px solid #AAAAAA;
    padding: 4px;
}

#filter_container {
    display: block;
    position: absolute;
    top: 4px;
    right: 57px;
    left: 75px;
}

#filter {
    width: 100%;
    margin: 0;
}

#clearFilter {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 26px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: #AAAAAA;
}

#clearFilter:hover {
    color: #333333;
}

textarea:focus, input:focus{
    outline: 0;
}

table.new_article .ui-widget-header {
    border: none !important;
    background: none !important;
}

table.new_article .ui-tabs-panel {
    padding: 0;
}

table.new_article .ui-tabs-nav {
    padding: 0;
}

table.new_article {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-spacing: 0;
}

table.new_article thead > tr > th {
    border-bottom: 2px solid #CCCCCC;
}

table.new_article th {
    font-weight: normal;
    background: none;
    text-align: left;
    font-size: 20px;
}

table.new_article .header {
    position: relative;
    margin-right: 45px;
    border: 1px solid #AAAAAA;
    padding: 5px;
    border-bottom: none;
    color: #555555;
    background: #EEEEEE;
}

table.new_article .footer {
    position: absolute !important;
    margin-right: 45px;
    padding: 5px;
    bottom: -40px;
}

table.new_article .select {
    position: absolute;
    left: 0;
    right: 45px;
    display: inline-block;
    max-height: 200px;
    height: 200px;
    border: 1px solid #AAAAAA;
    overflow-y: auto;
}

table.new_article .select > .option {
    -webkit-transition: background 0.16s ease-in-out;
    -moz-transition: background 0.16s ease-in-out;
    -ms-transition: background 0.16s ease-in-out;
    -o-transition: background 0.16s ease-in-out;
    border-bottom: 1px solid #AAAAAA;
    padding: 5px;
}

table.new_article .select > .option:hover {
    background: #CFECAD;
    cursor: pointer;
}

table.new_article .select > .option.disabled {
    color: #888888;
    background: #FFFFFF !important;
    cursor: default;
}

table.new_article .select > .option.selected {
    background: #80CC28;
    color: #FFFFFF;
    font-weight: bold;
}

table.new_article .label {
    display: inline-block;
    width: 85%;
}

table.new_article .count {
    display: inline-block;
    width: 15%;
    text-align: right;
    font-style: italic;
    white-space: nowrap;
}

table.new_article .header .label {
    width: 60%;
}

table.new_article .header .count {
    font-style: normal;
    width: 40%;
}



button::-moz-focus-inner {
    border: 0;
}

button {
    -webkit-transition: background 0.20s ease-in-out;
    -moz-transition: background 0.20s ease-in-out;
    -ms-transition: background 0.20s ease-in-out;
    -o-transition: background 0.20s ease-in-out;
    background: #80CC28;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    line-height: 16px;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: sans-serif;
}

button.selected {
    background: #70B323;
}

button:hover {
    background: #70B323;
    cursor: pointer;
}

button:active {
    background: #50801A;
}

button.selected:hover {
    background: #60991F;
}

button.small {
    line-height: 12px;
    min-width: 24px;
    font-size: 14px;
    padding: 6px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

button:disabled {
    background: #B3B3B3 !important;
    cursor: default;
}

.green_arrow {
    position: absolute;
    right: 1px;
    top: 40px;
    vertical-align: middle;
}

/* Article View */
#dialogs {
    display: none;
}

.bar circle {
    cursor: pointer;
}

.tooltip {
    position: absolute;
    padding: 6px;
    background: #111111;
    color: #FFFFFF;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.tooltip > .title {
    font-size: 1.25em;
    margin-bottom: 3px;
    text-align: center;
}

.tooltip a {
    color: #33AAFF;
}

/* Ownership Vis */

#ownershipview {
    position: relative;
    height: 100%;
}

#ownershipvis {
    top: 0;
}

g.section > .outline {
    fill: white;
    stroke: black; 
    stroke-width: 1;
}
